<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}
    <script async crossorigin="anonymous" data-clerk-publishable-key="pk_live_Y2xlcmsucnlhbnNwYWNlLmNhdCQ" src="https://cdn.clerk.dev/clerk.js"></script>
  </head>

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script>
      window.Clerk.load().then(async () => {
        const user = await Clerk.user;
        if (!user) {
          Clerk.redirectToSignIn();
        }
      });
    </script>

  </body>

</html>
